# All files in the repository
Bhoomit_GIT

# Documentation team for /docs/ directory
/docs/  @documentation-team

# Frontend team for JavaScript files
*.js    @MilindBhakte

# Backend team for /api/ directory
/api/   @backend-team
